{:cljdoc.doc/tree ["Config" {:file "config.md"}
                   "Schema" {:file "schema.md"}
                   "Time Variance" {:file "time_variance.md"}
                   "Entity Spec" {:file "entity_spec.md"}
                   "Pull API" {:file "pull-api-ns.md"}
                   "Logging and Error Handling" {:file "logging_and_error_handling.md"}
                   "Contributing" {:file "contributing.md"}
                   "Backend Development" {:file "backend-development.md"}
                   "Differences to Datomic" {:file "datomic_differences.md"}
                   "Benchmarking" {:file "benchmarking.md"}]}
